.body {
	margin: 0;
	background-color: #f1f2f3;
}

.header {
	height: 105px;
	width: 100%;
	padding-top: 21px;
	background-color: #FFFFFF;
	min-width: 1450px;
}

.header .header_left {
	float: left;
	width: 140px;
	height: 50px;
	padding-left: 23px;
	margin-right: 90px;
}

.header .header_left .logo {
	padding: 2px;
	margin-left: 60px;
}
.header .header_center {
	width: 360px;
	height: 55px;
	margin-right: 20px;
	margin-left: 30px;
	display: inline-block;
}
.header .header_center .nav_center {
	position: relative;
	line-height: 38px;
	top: -15px;
}

a:hover {
	text-decoration: none;
}

.header .header_center .nav_center .ele {
	float: left;
	width: 60px;
	border-radius: 1px;
	border: solid 1px #2fb3ff;
	font-size: 13px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #2fb3ff;
}

.header .header_center .nav_center .ele a {
	text-decoration: none;
	color: #2fb3ff;
}
.header .header_center .nav_center .curr {
	background-color: #2fb3ff;
}
.header .header_center .nav_center .curr a{
		color: #ffffff;
}
.header .header_center_msg {
	position: relative;
	display: inline-block;
	height: 56px;
	margin-left: 18px;
	line-height: 50px;
}
.header .header_center_msg div {
	float: left;
	display: block;
}
.header .header_center_msg .login {
	width: 56px;
	font-size: 13px;
	text-align: center;
}
.header .header_center_msg .login a {
	margin-left: -10px;
	height: 40px;
	color: #3f3f40;
	text-decoration: none;
	margin-right: 9px;
}
.header .header_center_msg .login .login-icon {
	background: url("../image/icon.png");
	width: 17px;
    height: 16px;
    margin-right: 6px;
    display: inline-block;
}
.header .header_center_msg .login .l-icon {
	background-position: 0px 0px;
	height: 16px;
    width: 18px;
}
.header .header_center_msg .login .time-icon {
	background-position: -97px -236px;
}
.header .header_center_msg .login .icon-s{
	background-position: -58px 0px;
	height: 7px;
    width: 12px;
}
.header .header_center_msg .login .mail-icon {
	background-position: -20px 0px;
	height: 16px;
    width: 17px;
}
.header .header_center_msg .login .up-icon {
	background-position: -40px 1px;
	height: 16px;
    width: 17px;
}
.header .query {
	width: 460px;
	height: 38px;
	border: solid 1px #2fb3ff;
	float: right;
	margin-right: 75px;
	margin-top: 3px;
}
.header .query .input {
	width: 300px;
	height: 16px;
	border: 0px;
	padding: 9px 12px 9px 5px;
	background: #fff;
	color: #555;
	outline: 0 none;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
	display: inline-block;
	margin-top: -11px;
t;}
.header .query .qu-icon {
	background: url("../image/icon.png") -133px -189px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
}
.header .query .ch-icon {
	background: url("../image/trend.png") no-repeat left center;
    display: inline-block;
    width: 20px;
    height: 22px;
}
.header .query .cf {
	float: right;
    width: 80px;
    height: 38px;
    background-color: #2fb3ff;
    text-align: center;
    line-height: 38px;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
}
.header .navtitle {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 49px;
	padding: 0px 3px;
}
.header .nav {
	height:51px;
	padding-top: 1px;
    border-top: 1px solid #e3e7e8;
    border-bottom: 1px solid #e3e7e8;
    background-color: #FFF;
    color: #555;
	padding-left: 7%;
  min-width: 1400px;
}
.header .nav .navtitle a {
	color: #555555;
	padding: 0 5px;
	text-decoration: none;
}
.header .nav .navtitle .cu {
	color: #2fb3ff;
}
.header .nav .curr {
	color: #2fb3ff;
	border-bottom: 2px solid #2fb3ff;
}
.header .nav .more {
	overflow: hidden;
    display: inline-block;
    width: 9px;
    height: 5px;
    text-align: left;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
	margin-top: 20px;
	background: url("../image/icon.png") -60px 0px no-repeat;
}
.header .nav .download {
	float: right;
	margin-right: 10%;
}
.pic-card .top-pic {
	margin: 30px 7% 30px;
	padding: 20px;
	width: 1300px;
	height: 370px;
	background: #ffffff;
  box-shadow: 0 0 8px 1px #e4e5e6;
}
.pic-card .top-pic .fstbox {
	width: 420px;
	height: 370px;
  display: inline-block;
	margin-right: 15px;
  margin-top: 0;
}
.pic-card .top-pic .scdbox {
  width: 200px;
  height: 370px;
  display: inline-block;
	margin-right: 15px;
}
.pic-card .top-pic .thrbox {
  width: 200px;
  height: 370px;
  display: inline-block;
	margin-right: 15px;
}
.pic-card .top-pic .forbox {
	width: 420px;
	height: 370px;
  display: inline-block;
}
.pic-card .top-pic .fstbox .fstbox-top {
  width: 420px;
  height: 240px;
  background: red;
  margin-bottom: 20px;
}
.pic-card .top-pic .fstbox .fstbox-bottom-f {
  width: 200px;
  height: 110px;
  background: red;
  display: inline-block;
  margin-right: 15px;
}
.pic-card .top-pic .fstbox .fstbox-bottom-s {
  width: 200px;
  height: 110px;
  background: red;
  display: inline-block;
}
.pic-card .top-pic .scdbox .scdbox-top {
  width: 200px;
  height: 110px;
  margin-bottom: 20px;
  background: red;
}

.pic-card .top-pic .scdbox .scdbox-mid {
  width: 200px;
  height: 110px;
  background: red;
  margin-bottom: 20px;
}
.pic-card .top-pic .scdbox .scdbox-bot {
  width: 200px;
  height: 110px;
  background: red;
}
.pic-card .top-pic .thrbox .thrbox-top {
  width: 200px;
  height: 110px;
  margin-bottom: 20px;
  background: red;
}
.pic-card .top-pic .thrbox .thrbox-mid {
  width: 200px;
  height: 110px;
  margin-bottom: 20px;
  background: red;
}
.pic-card .top-pic .thrbox .thrbox-bot {
  width: 200px;
  height: 110px;
  background: red;
}
.pic-card .top-pic .forbox .forbox-top {
  width: 420px;
  height: 110px;
  margin-bottom: 20px;
  background: red;
}
.pic-card .top-pic .forbox .forbox-left {
  width: 200px;
  height: 240px;
  margin-right: 15px;
  display: inline-block;
}
.pic-card .top-pic .forbox .forbox-left-top {
  width: 200px;
  height: 110px;
  background: red;
  margin-bottom: 20px;
}
.pic-card .top-pic .forbox .forbox-left-bot {
  width: 200px;
  height: 110px;
  background: red;
}
.pic-card .top-pic .forbox .forbox-right {
  width: 200px;
  height: 240px;
  background: red;
  display: inline-block;
}
.scd .scd-card {
	height: 210px;
	background: #ffffff;
	margin: 30px 7% 30px;
	padding: 20px;
	width: 1300px;
  box-shadow: 0 0 8px 1px #e4e5e6;
}
.scd .scd-card .stitle {
  height: 36px;
  background: red;
  margin-bottom: 20px;
}
.scd .scd-card .scd-card-pic {
  height: 154px;
  background: #ffffff;
}
.scd .scd-card .scd-card-pic .scpf {
  width: 200px;
  height: 154px;
  background: red;
  margin-right: 16px;
  display: inline-block;
}
.scd .scd-card .scd-card-pic .scps {
  width: 200px;
  height: 154px;
  background: red;
  display: inline-block;
}
